.DS_Store
consortium/MSFT_compare/.ipynb_checkpoints
consortium/MSFT_compare/.ipynb_checkpoints/MSFT_Sec_Inc_Pred-checkpoint.ipynb
example/.ipynb_checkpoints
example/.DS_Store
veris/.ipynb_checkpoints
